@import "bootstrap.min.css";



body {
  font-size: 100%;
}
.primary-nav {
  font-family:'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.8em;

}



h1, h2 {
  font-family:'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 4.0em;
  line-height: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 3.6em;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2.4em;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  font-style:italic;
}

p {
  font-family: 'Fjord One', serif;
  font-weight: 400;
  font-size: 1.6em;
}


/* project links */
.project-blurb a {
  color: black;
}

/* navigation links */
.primary-nav a {
  color: black;
  text-decoration: none;
  /*font-size: 2vw;*/

}

.logo-text a {
  text-decoration: none;
}

img,
iframe,
video,
svg {
    display: block;
    max-width: 100%;
    padding-bottom: 1em;
}

.logo-image {
  padding-top: 3em;
}

.search-bar {
  padding-left: 1em;
  padding-right: 2em;
  padding-bottom: 2em;
}

header {
    background: #FDFDF8;
    border: 2px solid #F9E09F;
    margin-bottom: 1.5em;
    padding: 1em 0;

}

footer {
  background: #F9E09F;
  border: 2px solid #F9E09F;
  margin-bottom: 1.5em;
  padding: 1em 0;
  line-height: normal;

}

.no-bleed {
    margin-bottom: 0;
}

.primary-nav {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: .5em;
    padding-right: .5em;
}

.primary-nav li {
    float: left;
    list-style: none;
    text-align: left;

}

body {
	background: #fff;
	font: 90%/180% Arial, Helvetica, sans-serif;
	width: 800px;
	max-width: 96%;
	margin: 0 auto;
}
a {
	color: #69C;
	text-decoration: none;
}
a:hover {
	color: #A0BCFF;
}
h1 {
	font: 1.7em;
	line-height: 110%;
	color: #000;
}
p {
	margin: 0 0 20px;
  color: black;
}


input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}


input[type=search] {
	background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #A0BCFF;

	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/* Demo 2 */
#demo-2 input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#demo-2 input[type=search]:hover {
	background-color: #fff;
}
#demo-2 input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}
